@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;660;700&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --primary-blue: #1473E6;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: white;
  background: url('./Arc.png') no-repeat;
}

.logo{
  font-weight: 600;
  font-size: 32px;
  margin: 20px;
}

.logo-blue{
  color: var(--primary-blue)
}